.slider {
    position: relative;
}

.slider-prev-button {
    position: absolute;
    top: 50%;
    left: 20px; /* Adjust as needed */
    transform: translateY(-50%);
    z-index: 5;
}

.slider-next-button {
    position: absolute;
    top: 50%;
    right: 20px; /* Adjust as needed */
    transform: translateY(-50%);
    z-index: 5;
}

.slider-item {
    position: relative;
    height: calc(100vh - 137px);
    display: flex;
    align-items: center;
}

.slider-item .slider-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: 60%;
    z-index: -1;
}

.slider-item .slider-title {
    font-size: 18px;
    font-weight: 500;
}

.slider-item .slider-heading {
    font-size: 60px;
    font-weight: 600;
}

.slider-item a {
    position: relative;
    z-index: 1;
}

.slider-buttons {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #dee0ea;
    background-color: white;
    opacity: 0.5;
    transition: 0.2s ease all;
}

.slider-buttons:hover {
    background-color: #1367ef;
    opacity: 1;
    color: #fff;
    border-color: #1367ef;
}

.slider-buttons i {
    font-size: 30px;
    line-height: 30px !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .slider-item {
        height: calc(100vh - 155px);
    }

    .slider-buttons {
        display: none !important;
    }
}
